<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldsmsoft.framework.dao.mybatis.dao.ProductBeanMapper" >
  <resultMap id="BaseResultMap" type="com.ldsmsoft.framework.dao.mybatis.model.ProductBean" >
    <id column="PRODUCT_ID" property="productId" jdbcType="DECIMAL" />
    <result column="PRODUCT_NAME" property="productName" jdbcType="VARCHAR" />
    <result column="DISCRIPTION" property="discription" jdbcType="VARCHAR" />
    <result column="LABEL" property="label" jdbcType="VARCHAR" />
    <result column="FIELD" property="field" jdbcType="VARCHAR" />
    <result column="RATE" property="rate" jdbcType="VARCHAR" />
    <result column="PARENTID" property="parentid" jdbcType="DECIMAL" />
    <result column="TYPE_ID" property="typeId" jdbcType="DECIMAL" />
    <result column="CREATEDTM" property="createdtm" jdbcType="DATE" />
    <result column="CREATEUSER" property="createuser" jdbcType="DECIMAL" />
    <result column="UPDATEDTM" property="updatedtm" jdbcType="DATE" />
    <result column="UPDATEUSER" property="updateuser" jdbcType="DECIMAL" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="PRICE" property="price" jdbcType="DECIMAL" />
    <result column="UNIT" property="unit" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    PRODUCT_ID, PRODUCT_NAME, DISCRIPTION, LABEL, FIELD, RATE, PARENTID, TYPE_ID, CREATEDTM, 
    CREATEUSER, UPDATEDTM, UPDATEUSER, STATUS, PRICE, UNIT
  </sql>
  <select id="selectByParams" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    SELECT *
	  FROM (
	    SELECT ROWNUM AS ROWNO,
	    <include refid="Base_Column_List" />
	    FROM QMCB.T_PRODUCT
	    WHERE TYPE_ID = #{typeId,jdbcType=DECIMAL}
	    AND ROWNUM &lt;= #{page}*#{pageSize}) TABLE_ALIAS
    WHERE TABLE_ALIAS.ROWNO &gt;= (#{page}-1)*#{pageSize}+1  
  </select>
  
  
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from QMCB.T_PRODUCT
    where PRODUCT_ID = #{productId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from QMCB.T_PRODUCT
    where PRODUCT_ID = #{productId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ldsmsoft.framework.dao.mybatis.model.ProductBean" >
    insert into QMCB.T_PRODUCT (PRODUCT_ID, PRODUCT_NAME, DISCRIPTION, 
      LABEL, FIELD, RATE, 
      PARENTID, TYPE_ID, CREATEDTM, 
      CREATEUSER, UPDATEDTM, UPDATEUSER, 
      STATUS, PRICE, UNIT
      )
    values (#{productId,jdbcType=DECIMAL}, #{productName,jdbcType=VARCHAR}, #{discription,jdbcType=VARCHAR}, 
      #{label,jdbcType=VARCHAR}, #{field,jdbcType=VARCHAR}, #{rate,jdbcType=VARCHAR}, 
      #{parentid,jdbcType=DECIMAL}, #{typeId,jdbcType=DECIMAL}, #{createdtm,jdbcType=DATE}, 
      #{createuser,jdbcType=DECIMAL}, #{updatedtm,jdbcType=DATE}, #{updateuser,jdbcType=DECIMAL}, 
      #{status,jdbcType=VARCHAR}, #{price,jdbcType=DECIMAL}, #{unit,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ldsmsoft.framework.dao.mybatis.model.ProductBean" >
    insert into QMCB.T_PRODUCT
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        PRODUCT_ID,
      </if>
      <if test="productName != null" >
        PRODUCT_NAME,
      </if>
      <if test="discription != null" >
        DISCRIPTION,
      </if>
      <if test="label != null" >
        LABEL,
      </if>
      <if test="field != null" >
        FIELD,
      </if>
      <if test="rate != null" >
        RATE,
      </if>
      <if test="parentid != null" >
        PARENTID,
      </if>
      <if test="typeId != null" >
        TYPE_ID,
      </if>
      <if test="createdtm != null" >
        CREATEDTM,
      </if>
      <if test="createuser != null" >
        CREATEUSER,
      </if>
      <if test="updatedtm != null" >
        UPDATEDTM,
      </if>
      <if test="updateuser != null" >
        UPDATEUSER,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="price != null" >
        PRICE,
      </if>
      <if test="unit != null" >
        UNIT,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="productId != null" >
        #{productId,jdbcType=DECIMAL},
      </if>
      <if test="productName != null" >
        #{productName,jdbcType=VARCHAR},
      </if>
      <if test="discription != null" >
        #{discription,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        #{label,jdbcType=VARCHAR},
      </if>
      <if test="field != null" >
        #{field,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        #{rate,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="createdtm != null" >
        #{createdtm,jdbcType=DATE},
      </if>
      <if test="createuser != null" >
        #{createuser,jdbcType=DECIMAL},
      </if>
      <if test="updatedtm != null" >
        #{updatedtm,jdbcType=DATE},
      </if>
      <if test="updateuser != null" >
        #{updateuser,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        #{unit,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldsmsoft.framework.dao.mybatis.model.ProductBean" >
    update QMCB.T_PRODUCT
    <set >
      <if test="productName != null" >
        PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      </if>
      <if test="discription != null" >
        DISCRIPTION = #{discription,jdbcType=VARCHAR},
      </if>
      <if test="label != null" >
        LABEL = #{label,jdbcType=VARCHAR},
      </if>
      <if test="field != null" >
        FIELD = #{field,jdbcType=VARCHAR},
      </if>
      <if test="rate != null" >
        RATE = #{rate,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        PARENTID = #{parentid,jdbcType=DECIMAL},
      </if>
      <if test="typeId != null" >
        TYPE_ID = #{typeId,jdbcType=DECIMAL},
      </if>
      <if test="createdtm != null" >
        CREATEDTM = #{createdtm,jdbcType=DATE},
      </if>
      <if test="createuser != null" >
        CREATEUSER = #{createuser,jdbcType=DECIMAL},
      </if>
      <if test="updatedtm != null" >
        UPDATEDTM = #{updatedtm,jdbcType=DATE},
      </if>
      <if test="updateuser != null" >
        UPDATEUSER = #{updateuser,jdbcType=DECIMAL},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="price != null" >
        PRICE = #{price,jdbcType=DECIMAL},
      </if>
      <if test="unit != null" >
        UNIT = #{unit,jdbcType=VARCHAR},
      </if>
    </set>
    where PRODUCT_ID = #{productId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldsmsoft.framework.dao.mybatis.model.ProductBean" >
    update QMCB.T_PRODUCT
    set PRODUCT_NAME = #{productName,jdbcType=VARCHAR},
      DISCRIPTION = #{discription,jdbcType=VARCHAR},
      LABEL = #{label,jdbcType=VARCHAR},
      FIELD = #{field,jdbcType=VARCHAR},
      RATE = #{rate,jdbcType=VARCHAR},
      PARENTID = #{parentid,jdbcType=DECIMAL},
      TYPE_ID = #{typeId,jdbcType=DECIMAL},
      CREATEDTM = #{createdtm,jdbcType=DATE},
      CREATEUSER = #{createuser,jdbcType=DECIMAL},
      UPDATEDTM = #{updatedtm,jdbcType=DATE},
      UPDATEUSER = #{updateuser,jdbcType=DECIMAL},
      STATUS = #{status,jdbcType=VARCHAR},
      PRICE = #{price,jdbcType=DECIMAL},
      UNIT = #{unit,jdbcType=VARCHAR}
    where PRODUCT_ID = #{productId,jdbcType=DECIMAL}
  </update>
</mapper>