<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldsmsoft.framework.dao.mybatis.dao.SYSRoleResourceBeanMapper" >
  <resultMap id="BaseResultMap" type="com.ldsmsoft.framework.dao.mybatis.model.SYSRoleResourceBean" >
    <id column="ID" property="id" jdbcType="DECIMAL" />
    <result column="ROLE_ID" property="roleId" jdbcType="DECIMAL" />
    <result column="RESOURCE_ID" property="resourceId" jdbcType="DECIMAL" />
    <result column="HASHCODE" property="hashcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    ID, ROLE_ID, RESOURCE_ID, HASHCODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from QMCB.SYS_ROLE_RESOURCE
    where ID = #{id,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from QMCB.SYS_ROLE_RESOURCE
    where ID = #{id,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSRoleResourceBean" >
    insert into QMCB.SYS_ROLE_RESOURCE (ID, ROLE_ID, RESOURCE_ID, 
      HASHCODE)
    values (#{id,jdbcType=DECIMAL}, #{roleId,jdbcType=DECIMAL}, #{resourceId,jdbcType=DECIMAL}, 
      #{hashcode,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSRoleResourceBean" >
    insert into QMCB.SYS_ROLE_RESOURCE
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        ID,
      </if>
      <if test="roleId != null" >
        ROLE_ID,
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID,
      </if>
      <if test="hashcode != null" >
        HASHCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=DECIMAL},
      </if>
      <if test="roleId != null" >
        #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="resourceId != null" >
        #{resourceId,jdbcType=DECIMAL},
      </if>
      <if test="hashcode != null" >
        #{hashcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSRoleResourceBean" >
    update QMCB.SYS_ROLE_RESOURCE
    <set >
      <if test="roleId != null" >
        ROLE_ID = #{roleId,jdbcType=DECIMAL},
      </if>
      <if test="resourceId != null" >
        RESOURCE_ID = #{resourceId,jdbcType=DECIMAL},
      </if>
      <if test="hashcode != null" >
        HASHCODE = #{hashcode,jdbcType=VARCHAR},
      </if>
    </set>
    where ID = #{id,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSRoleResourceBean" >
    update QMCB.SYS_ROLE_RESOURCE
    set ROLE_ID = #{roleId,jdbcType=DECIMAL},
      RESOURCE_ID = #{resourceId,jdbcType=DECIMAL},
      HASHCODE = #{hashcode,jdbcType=VARCHAR}
    where ID = #{id,jdbcType=DECIMAL}
  </update>
</mapper>