<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.ldsmsoft.framework.dao.mybatis.dao.SYSUserBeanMapper" >
  <resultMap id="BaseResultMap" type="com.ldsmsoft.framework.dao.mybatis.model.SYSUserBean" >
    <id column="USER_ID" property="userId" jdbcType="DECIMAL" />
    <result column="USER_NAME" property="userName" jdbcType="VARCHAR" />
    <result column="IDCARD" property="idcard" jdbcType="VARCHAR" />
    <result column="EMAIL" property="email" jdbcType="VARCHAR" />
    <result column="TEL" property="tel" jdbcType="VARCHAR" />
    <result column="REGTIME" property="regtime" jdbcType="DATE" />
    <result column="PASSWORD" property="password" jdbcType="VARCHAR" />
    <result column="UPDATETIME" property="updatetime" jdbcType="DATE" />
    <result column="STATUS" property="status" jdbcType="VARCHAR" />
    <result column="LOGINNAME" property="loginname" jdbcType="VARCHAR" />
    <result column="TOKEN" property="token" jdbcType="VARCHAR" />
    <result column="TOKEN_TIME" property="tokenTime" jdbcType="DATE" />
    <result column="HASHCODE" property="hashcode" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    USER_ID, USER_NAME, IDCARD, EMAIL, TEL, REGTIME, PASSWORD, UPDATETIME, STATUS, LOGINNAME, 
    TOKEN, TOKEN_TIME, HASHCODE
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.math.BigDecimal" >
    select 
    <include refid="Base_Column_List" />
    from QMCB.SYS_USERS
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.math.BigDecimal" >
    delete from QMCB.SYS_USERS
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </delete>
  <insert id="insert" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSUserBean" >
    insert into QMCB.SYS_USERS (USER_ID, USER_NAME, IDCARD, 
      EMAIL, TEL, REGTIME, PASSWORD, 
      UPDATETIME, STATUS, LOGINNAME, 
      TOKEN, TOKEN_TIME, HASHCODE
      )
    values (#{userId,jdbcType=DECIMAL}, #{userName,jdbcType=VARCHAR}, #{idcard,jdbcType=VARCHAR}, 
      #{email,jdbcType=VARCHAR}, #{tel,jdbcType=VARCHAR}, #{regtime,jdbcType=DATE}, #{password,jdbcType=VARCHAR}, 
      #{updatetime,jdbcType=DATE}, #{status,jdbcType=VARCHAR}, #{loginname,jdbcType=VARCHAR}, 
      #{token,jdbcType=VARCHAR}, #{tokenTime,jdbcType=DATE}, #{hashcode,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSUserBean" >
    insert into QMCB.SYS_USERS
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        USER_ID,
      </if>
      <if test="userName != null" >
        USER_NAME,
      </if>
      <if test="idcard != null" >
        IDCARD,
      </if>
      <if test="email != null" >
        EMAIL,
      </if>
      <if test="tel != null" >
        TEL,
      </if>
      <if test="regtime != null" >
        REGTIME,
      </if>
      <if test="password != null" >
        PASSWORD,
      </if>
      <if test="updatetime != null" >
        UPDATETIME,
      </if>
      <if test="status != null" >
        STATUS,
      </if>
      <if test="loginname != null" >
        LOGINNAME,
      </if>
      <if test="token != null" >
        TOKEN,
      </if>
      <if test="tokenTime != null" >
        TOKEN_TIME,
      </if>
      <if test="hashcode != null" >
        HASHCODE,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="userId != null" >
        #{userId,jdbcType=DECIMAL},
      </if>
      <if test="userName != null" >
        #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        #{tel,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null" >
        #{regtime,jdbcType=DATE},
      </if>
      <if test="password != null" >
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        #{updatetime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenTime != null" >
        #{tokenTime,jdbcType=DATE},
      </if>
      <if test="hashcode != null" >
        #{hashcode,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSUserBean" >
    update QMCB.SYS_USERS
    <set >
      <if test="userName != null" >
        USER_NAME = #{userName,jdbcType=VARCHAR},
      </if>
      <if test="idcard != null" >
        IDCARD = #{idcard,jdbcType=VARCHAR},
      </if>
      <if test="email != null" >
        EMAIL = #{email,jdbcType=VARCHAR},
      </if>
      <if test="tel != null" >
        TEL = #{tel,jdbcType=VARCHAR},
      </if>
      <if test="regtime != null" >
        REGTIME = #{regtime,jdbcType=DATE},
      </if>
      <if test="password != null" >
        PASSWORD = #{password,jdbcType=VARCHAR},
      </if>
      <if test="updatetime != null" >
        UPDATETIME = #{updatetime,jdbcType=DATE},
      </if>
      <if test="status != null" >
        STATUS = #{status,jdbcType=VARCHAR},
      </if>
      <if test="loginname != null" >
        LOGINNAME = #{loginname,jdbcType=VARCHAR},
      </if>
      <if test="token != null" >
        TOKEN = #{token,jdbcType=VARCHAR},
      </if>
      <if test="tokenTime != null" >
        TOKEN_TIME = #{tokenTime,jdbcType=DATE},
      </if>
      <if test="hashcode != null" >
        HASHCODE = #{hashcode,jdbcType=VARCHAR},
      </if>
    </set>
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.ldsmsoft.framework.dao.mybatis.model.SYSUserBean" >
    update QMCB.SYS_USERS
    set USER_NAME = #{userName,jdbcType=VARCHAR},
      IDCARD = #{idcard,jdbcType=VARCHAR},
      EMAIL = #{email,jdbcType=VARCHAR},
      TEL = #{tel,jdbcType=VARCHAR},
      REGTIME = #{regtime,jdbcType=DATE},
      PASSWORD = #{password,jdbcType=VARCHAR},
      UPDATETIME = #{updatetime,jdbcType=DATE},
      STATUS = #{status,jdbcType=VARCHAR},
      LOGINNAME = #{loginname,jdbcType=VARCHAR},
      TOKEN = #{token,jdbcType=VARCHAR},
      TOKEN_TIME = #{tokenTime,jdbcType=DATE},
      HASHCODE = #{hashcode,jdbcType=VARCHAR}
    where USER_ID = #{userId,jdbcType=DECIMAL}
  </update>
</mapper>